.DS_Store
2024_2025/FESI/Projects
2024_2025/FESI/.DS_Store
2024_2025/.DS_Store
2024_2025/FESI/relazione_supporto_didattica copy.docx
2024_2025/FESI/relazione_supporto_didattica copy.pdf
2024_2025/FESI/Didattica/DFT/.ipynb_checkpoints
2024_2025/FESI/Didattica/filtering/.ipynb_checkpoints
2024_2025/FESI/Didattica/time_series/.ipynb_checkpoints
2024_2025/FESI/Burocrazia
2024_2025/Prog1/Dichiaarazione\ anti\ corruzzioe_IT_a.a2024-2025.pdf
2024_2025/Prog1/Dichiarazione\ conflitto\ interesse\ copy.pdf
2024_2025/Prog1/Modulo\ Nullaosta\ Dottorandi\ copy.pdf
2024_2025/Prog1/Modulo\ Nullaosta\ Dottorandi\ copy\ \(1\).pdf
TA_Hours.numbers
relazione_supporto_didattica.docx

